{#
/**
 * @file
 * Template for the marketplace add/edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-amazon-marketplace-form clearfix">
  <div class="layout-region layout-region-amazon-marketplace-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="layout-region layout-region-amazon-marketplace-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-amazon-marketplace-footer">
    {{ form.actions }}
  </div>
</div>
